# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*.so
*~
foo*
02/southeast
02/monte
01/cards
04/totaller
04/mercury_day_length
04/data_type_sizes
03/order_pizza
foo
02.5/find_track
04/message_hider
05/struct_foo
06/tour.linked_list
06/test_flight.malloc
06/tour.malloc
06/binary_tree.spies
07/find.function_pointers
07/qsort.function_pointers
07/dear_john.function_pointers
07/price.variadic_function
08/bank_vault
09/exec.if_or_ipconfig
08/elliptical
08/libcalories.so
09/newshound
09/coffee
